---
import "../styles/global.css";
import { Leaflet } from "astro-leaflet";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="./favicon.svg" />
    <link rel="icon" href="./favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>Asturias Viviendas Turísticas</title>
  </head>
  <body>
    <h1 class="text-emerald-900 font-bold underline text-3xl">Hola Tailwind</h1>

    <div class="p-8">
      <Leaflet
        id="astro-leaflet-asturias"
        options={{
          tileByName: "Google&type=hybrid", // o "OpenStreetMap"
          center: [43.3619, -5.8494], // Asturias
          zoom: 9, // nivel inicial
          mapOptions: {
            zoomControl: true,
            minZoom: 9, // el usuario no puede alejarse más que el nivel inicial
            maxZoom: 18, // máximo acercamiento permitido
          },
        }}
      />
    </div>
  </body>
</html>
